<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content">
        <div class="row">
            <div class="col-lg-12 text-center welcome-message">
                <h2>
                    Welcome to Capweb
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        Free talks and statistics
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="hpanel hbggreen">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h3>Available Users</h3>
                                            <p class="text-big font-light">
                                                330
                                            </p>
                                            <small>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hpanel hbgyellow">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h3>Available Teams</h3>
                                            <p class="text-big font-light">
                                                50
                                            </p>
                                            <small>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="hpanel hbgblue">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h3>Available Projects</h3>
                                            <p class="text-big font-light">
                                                200
                                            </p>
                                            <small>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    <!-- <span class="pull-right">
                          You have two new messages from <a href="">Monica Bolt</a>
                    </span> -->
                        Last update: 21.05.2015
                    </div>
                </div>
            </div>
        </div>
    <div class="row social-board">
        <div class="col-lg-4">
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="assets/a4.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <h5>Anna Smith</h5>
                            <small class="text-muted">21.03.2015</small>
                        </div>
                    </div>
    
                    <div class="social-content m-t-md">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a1.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a3.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">Mark Smith</span>
                                <small class="text-muted">14.04.2015</small>
                                <div class="social-content">
                                    Many desktop publishing packages and web page editors.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-form">
                        <input class="form-control" placeholder="Your comment">
                    </div>
                </div>
            </div>
            <div class="hpanel hyellow">
                <div class="panel-body">
                    <div class="media social-profile clearfix">
                        <span class="label label-warning pull-right">NEW</span>
                        <a class="pull-left">
                            <img src="assets/a2.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <h5>Ivan Novak</h5>
                            <small class="text-muted">26.11.2015</small>
                        </div>
                    </div>
                    <div class="social-content m-t-md">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a4.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-form">
                        <input class="form-control" placeholder="Your comment">
                    </div>
                </div>
            </div>
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="assets/a7.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <h5>John Smith</h5>
                            <small class="text-muted">13.05.2015</small>
                        </div>
                    </div>
    
                    <div class="social-content m-t-md">
                        There are many variations of passages of Lorem Ipsum available, but the majority have By injected humour, or randomised words which don't look even slightly believable.
                        <img class="img-responsive m-t-md" src="assets/p2.jpg" alt="">
    
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a1.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a3.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">Mark Smith</span>
                                <small class="text-muted">14.04.2015</small>
                                <div class="social-content">
                                    Many desktop publishing packages and web page editors.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-form">
                        <input class="form-control" placeholder="Your comment">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="assets/a7.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <h5>John Smith</h5>
                            <small class="text-muted">13.05.2015</small>
                        </div>
                    </div>
    
                    <div class="social-content m-t-md">
                        There are many variations of passages of Lorem Ipsum available, but the majority have By injected humour, or randomised words which don't look even slightly believable.
                        <br/><br/>
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
    
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a1.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a3.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">Mark Smith</span>
                                <small class="text-muted">14.04.2015</small>
                                <div class="social-content">
                                    Many desktop publishing packages and web page editors.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-form">
                        <input class="form-control" placeholder="Your comment">
                    </div>
                </div>
            </div>
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="assets/a4.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <h5>Anna Smith</h5>
                            <small class="text-muted">10.06.2015</small>
                        </div>
                    </div>
    
                    <div class="social-content m-t-md">
                        Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a1.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a3.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">Mark Smith</span>
                                <small class="text-muted">14.04.2015</small>
                                <div class="social-content">
                                    Many desktop publishing packages and web page editors.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-form">
                        <input class="form-control" placeholder="Your comment">
                    </div>
                </div>
            </div>
            <div class="hpanel hyellow">
                <div class="panel-body">
                    <div class="media social-profile clearfix">
                        <span class="label label-warning pull-right">NEW</span>
                        <a class="pull-left">
                            <img src="assets/a6.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <h5>Mark Smith</h5>
                            <small class="text-muted">02.02.2015</small>
                        </div>
                    </div>
                    <div class="social-content m-t-md">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a2.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-form">
                        <input class="form-control" placeholder="Your comment">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel hyellow">
                <div class="panel-body">
                    <div class="media social-profile clearfix">
                        <span class="label label-warning pull-right">NEW</span>
                        <a class="pull-left">
                            <img src="assets/a6.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <h5>Mark Smith</h5>
                            <small class="text-muted">02.02.2015</small>
                        </div>
                    </div>
                    <div class="social-content m-t-md">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a2.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-form">
                        <input class="form-control" placeholder="Your comment">
                    </div>
                </div>
            </div>
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="assets/a7.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <h5>John Smith</h5>
                            <small class="text-muted">13.05.2015</small>
                        </div>
                    </div>
    
                    <div class="social-content m-t-md">
                        There are many variations of passages of Lorem Ipsum available, but the majority have By injected humour, or randomised words which don't look even slightly believable (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance
    .
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a1.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-form">
                        <input class="form-control" placeholder="Your comment">
                    </div>
                </div>
            </div>
            <div class="hpanel hblue">
                <div class="panel-body">
                    <div class="media social-profile clearfix">
                        <a class="pull-left">
                            <img src="assets/a9.jpg" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <h5>Michael Smith</h5>
                            <small class="text-muted">21.03.2015</small>
                        </div>
                    </div>
    
                    <div class="social-content m-t-md">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a1.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a3.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">Mark Smith</span>
                                <small class="text-muted">14.04.2015</small>
                                <div class="social-content">
                                    Many desktop publishing packages and web page editors.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a1.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">Mark Smith</span>
                                <small class="text-muted">14.04.2015</small>
                                <div class="social-content">
                                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-form">
                        <input class="form-control" placeholder="Your comment">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    
        <!-- Right sidebar -->
        <div id="right-sidebar" class="animated fadeInRight">
    
            <div class="p-m">
                <button id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md"><i class="pe pe-7s-close"></i>
                </button>
                <div>
                    <span class="font-bold no-margins"> Analytics </span>
                    <br>
                    <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
                </div>
                <div class="row m-t-sm m-b-sm">
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold text-success">300,102</h3>
    
                        <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold text-success">280,200</h3>
    
                        <div class="font-bold">98% <i class="fa fa-level-up text-success"></i></div>
                    </div>
                </div>
                <div class="progress m-t-xs full progress-small">
                    <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"
                         class=" progress-bar progress-bar-success">
                        <span class="sr-only">35% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="p-m bg-light border-bottom border-top">
                <span class="font-bold no-margins"> Social talks </span>
                <br>
                <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.</small>
                <div class="m-t-md">
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a1.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">John Novak</span>
                                <small class="text-muted">21.03.2015</small>
                                <div class="social-content small">
                                    Injected humour, or randomised words which don't look even slightly believable.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a3.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">Mark Smith</span>
                                <small class="text-muted">14.04.2015</small>
                                <div class="social-content">
                                    Many desktop publishing packages and web page editors.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-talk">
                        <div class="media social-profile clearfix">
                            <a class="pull-left">
                                <img src="assets/a4.jpg" alt="profile-picture">
                            </a>
    
                            <div class="media-body">
                                <span class="font-bold">Marica Morgan</span>
                                <small class="text-muted">21.03.2015</small>
    
                                <div class="social-content">
                                    There are many variations of passages of Lorem Ipsum available, but the majority have
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-m">
                <span class="font-bold no-margins"> Sales in last week </span>
                <div class="m-t-xs">
                    <div class="row">
                        <div class="col-xs-6">
                            <small>Today</small>
                            <h4 class="m-t-xs">$170,20 <i class="fa fa-level-up text-success"></i></h4>
                        </div>
                        <div class="col-xs-6">
                            <small>Last week</small>
                            <h4 class="m-t-xs">$580,90 <i class="fa fa-level-up text-success"></i></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <small>Today</small>
                            <h4 class="m-t-xs">$620,20 <i class="fa fa-level-up text-success"></i></h4>
                        </div>
                        <div class="col-xs-6">
                            <small>Last week</small>
                            <h4 class="m-t-xs">$140,70 <i class="fa fa-level-up text-success"></i></h4>
                        </div>
                    </div>
                </div>
                <small> Lorem Ipsum is simply dummy text of the printing simply all dummy text.
                    Many desktop publishing packages and web page editors.
                </small>
            </div>
    
        </div>
    
        <!-- Footer-->
        <footer class="footer">
            <span class="pull-right">
                Example text
            </span>
            Company 2015-2020
        </footer>
    
    </div>