<!-- Main Wrapper -->
<div id="wrapper">

    <div class="normalheader transition">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="index.html">Dashboard</a></li>
                        <li>
                            <span>Projects</span>
                        </li>
                        <li class="active">
                            <span>Project details</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Project details
                </h2>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">

            <div class="col-md-10">

                <div class="hpanel">
                    <div class="panel-body">

                        <div class="pull-right">
                            <button class="btn btn-success btn-xs">  Open</button>
                            <!-- button class="btn btn-danger btn-xs">  Closed</button-->
                            <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                        </div>
                        <h2 class="m-t-none">ECE496 Project</h2>
                        <div class="small m-t-xs">
                            <h5><strong>Create by:</strong> Anthony Novic</h5>
                            <br/>
                            <button class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </button>
                            <br/>
                        </div>
                        <!-- <div class="m-t-md">
                            <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i> Like </a>
                            <a class="btn btn-xs btn-default"><i class="fa fa-heart"></i> Love</a>
                            <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                        </div> -->
                        <p>
                           <br/>
                           This project is about....
                        </p>

                        <div class="m-t-md">
                            <canvas id="lineOptions" height="60"></canvas>
                        </div>
                    </div>
                </div>

                <div class="hpanel">

                    <div class="panel-body">

                        <p>
                            <strong>Related Areas</strong>
                        </p>

                    </div>

                </div>

                <div class="hpanel">

                    <div class="panel-body">

                        <p>
                            <strong>Discussion</strong>
                        </p>

			                        <div class="hpanel hgreen">
			                <div class="panel-body">
			                </div>
			                <div class="panel-footer">
			                    <div class="social-talk">
			                        <div class="media social-profile clearfix">
			                            <a class="pull-left">
			                                <img src="assets/a1.jpg" alt="profile-picture">
			                            </a>

			                            <div class="media-body">
			                                <span class="font-bold">John Novak</span>
			                                <small class="text-muted">21.03.2015</small>

			                                <div class="social-content">
			                                    Injected humour, or randomised words which don't look even slightly believable.
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="social-talk">
			                        <div class="media social-profile clearfix">
			                            <a class="pull-left">
			                                <img src="assets/a3.jpg" alt="profile-picture">
			                            </a>

			                            <div class="media-body">
			                                <span class="font-bold">Mark Smith</span>
			                                <small class="text-muted">14.04.2015</small>
			                                <div class="social-content">
			                                    Many desktop publishing packages and web page editors.
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="social-form">
			                        <form action="#" class="mt ng-untouched ng-pristine ng-valid" novalidate="">
								        <div class="form-group mb-0">
								          <label class="sr-only" for="new-event">New comment</label>
								          <textarea class="form-control" id="new-event" placeholder="Your comment..." rows="3"></textarea>
								        </div>
								        <div class="btn-toolbar">
								          <button class="btn btn-success btn-sm ml-auto" type="submit">Post</button>
								        </div>
								      </form>
			                    </div>
			                </div>
			            </div>

                    </div>

                </div>

                <div class="hpanel">

                                        <div class="panel-body">

                                            <p>
                                                <strong>Recommended Projects</strong>
                                            </p>

                                            <div class="table-responsive">
                                            <table class="table table-hover table-bordered table-striped">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="label label-success">Added</span>
                                                    </td>
                                                    <td class="issue-info">
                                                        <a href="#">
                                                            Message
                                                        </a>
                                                        <br/>
                                                        <small>
                                                            This is issue with the coresponding note
                                                        </small>
                                                    </td>
                                                    <td>
                                                        Adrian Novak
                                                    </td>
                                                    <td>
                                                        12.02.2015
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-default btn-xs"> Action</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="label label-info">Added</span>
                                                    </td>
                                                    <td class="issue-info">
                                                        <a href="#">
                                                            Call
                                                        </a>
                                                        <br/>
                                                        <small>
                                                            Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                                                        </small>
                                                    </td>
                                                    <td>
                                                        Anna Smith
                                                    </td>
                                                    <td>
                                                        10.02.2015
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-default btn-xs"> Action</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="label label-success">Added</span>
                                                    </td>
                                                    <td class="issue-info">
                                                        <a href="#">
                                                            Message
                                                        </a>
                                                        <br/>
                                                        <small>
                                                            It is a long established fact that a reader will be
                                                        </small>
                                                    </td>
                                                    <td>
                                                        Anthony Jackson
                                                    </td>
                                                    <td>
                                                        02.03.2015
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-default btn-xs"> Action</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>

                                    </div>
            </div>
            <div class="col-md-2">

                <div class="font-bold m-b-sm">
                    Discussion participants
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="hpanel">
                            <div class="panel-body text-center">
                                <img alt="logo" class="img-circle img-small" src="assets/a1.jpg">
                                <div class="m-t-sm">
                                    <strong>Mark Newon</strong>
                                    <p class="small">UI Designer</p>
                                </div>
                            </div>
                        </div>

                        <div class="hpanel">
                            <div class="panel-body text-center">
                                <img alt="logo" class="img-circle img-small" src="assets/a2.jpg">
                                <div class="m-t-sm">
                                    <strong>Anna Smith</strong>
                                    <p class="small">JS Developer</p>
                                </div>
                            </div>
                        </div>

                        <div class="hpanel">
                            <div class="panel-body text-center">
                                <img alt="logo" class="img-circle img-small" src="assets/a3.jpg">
                                <div class="m-t-sm">
                                    <strong>John Smith</strong>
                                    <p class="small">CEO X company</p>
                                </div>
                            </div>
                        </div>


                        <div class="hpanel">
                            <div class="panel-body text-center">
                                <img alt="logo" class="img-circle img-small" src="assets/a1.jpg">
                                <div class="m-t-sm">
                                    <strong>Max Simson</strong>
                                    <p class="small">UI Designer</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>


        </div>

    </div>

    <!-- Footer-->
    <footer class="footer">
        <span class="pull-right">
            Example text
        </span>
        Company 2015-2020
    </footer>

</div>
