<!-- Main Wrapper -->
<div id="wrapper">

  <div class="normalheader">
    <div class="hpanel">
      <div class="panel-body">

        <div id="hbreadcrumb" class="pull-right m-t-lg">
          <ol class="hbreadcrumb breadcrumb">
            <li>
              <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
              <span>Projects</span>
            </li>
          </ol>
        </div>
        <h2 class="font-light m-b-xs">
          Search
        </h2>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="row">
      <div class="col-md-3">
        <div class="hpanel">
          <div class="panel-body">
            <div class="m-b-md">
              <h4>
                Filters
                <span class="pull-right text-right">
                  <div class="btn-group">
                    <button class="btn btn-xs btn-default" (click)="clear_filter()"> Clear All</button>
                    <button class="btn btn-xs btn-default" (click)="setall_filter()"> Select All</button>
                  </div>
                </span>
              </h4>
            </div>
            <!-- div class="form-group">
              <label class="control-label">Only Show</label>
              <br>
              <div class="checkbox checkbox-success">
                <input id="s_user" type="checkbox" [(ngModel)]="s_user">
                <label for="s_user">
                  Users
                </label>
              </div>
              <div class="checkbox checkbox-warning">
                <input id="s_team" type="checkbox" [(ngModel)]="s_team">
                <label for="s_team">
                  Teams
                </label>
              </div>
              <div class="checkbox checkbox-info">
                <input id="s_project" type="checkbox" [(ngModel)]="s_project">
                <label for="s_project">
                  Projects
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Last activity</label>
              <div class="input-daterange input-group" id="datepicker">
                <input type="text" id="date_start" class="input-sm form-control">
                <span class="input-group-addon ">
                  <i class="fa fa-angle-right"></i>
                </span>
                <input type="text" id="date_end" class="input-sm form-control">
              </div>
            </div>

            <div *ngIf="s_team" class="form-group">
              <label class="control-label">Team Size</label>
              <div class="input-group">
                <input id="teamsize" type="text">
              </div>
            </div>
            <div *ngIf="s_project" class="form-group">
              <label class="control-label">Number of Members</label>
              <div class="input-group">
                <input id="projectsize" type="text">
              </div>
            </div-->
            <div class="form-group">
              <label class="control-label">Status</label>
              <div class="input-group">
                <div class="checkbox checkbox-success">
                  <input id="s_available" type="checkbox" [(ngModel)]="s_available">
                  <label for="s_available">
                    Open
                  </label>
                </div>
                <div class="checkbox checkbox-success">
                  <input id="s_complete" type="checkbox" [(ngModel)]="s_complete">
                  <label for="s_complete">
                    Closed
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Areas</label>
              <div class="input-group">
                <div *ngFor="let area of s_areas" class="checkbox checkbox-success">
                  <input type="checkbox" [(ngModel)]='area.value' [name]="area.label">
                  <label> {{area.label}} </label>
                </div>
              </div>
            </div>

            <button (click)="bool_filter()" class="btn btn-success btn-block">Apply</button>

          </div>

        </div>

      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="hpanel">
              <div class="panel-body">
                <div class="input-group">
                  <input id="search_str" [(ngModel)]="s_search" class="form-control" type="text" placeholder="Search projects .. ">
                  <div class="input-group-btn">
                    <button (click)="str_filter()" class="btn btn-default">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-12">

            <div *ngFor="let item of data_to_render" class="hpanel filter-item">
              <a href="#">
                <div class="panel-body">
                  <div class="col-sm-12">
                    <h4 *ngIf="item.p_name" class="m-b-xs">{{item.p_name}}</h4>
                    <div>{{item.p_abs}}</div>
                    <div style="word-wrap: break-word;">
                      <small style="margin-right:1%" *ngFor='let tag of item.p_tags'>#{{tag}}</small>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>



        </div>


      </div>
    </div>


  </div>
  <!-- Footer-->
  <footer class="footer">
    <span class="pull-right">
      Example text
    </span>
    Company 2015-2020
  </footer>

</div>
