<!-- Main Wrapper -->
<div id="wrapper">

    <div class="normalheader transition">
        <div class="hpanel">
            <div class="panel-body">
                <a class="small-header-action" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="index.html">Dashboard</a></li>
                        <li>
                            <span>Tables</span>
                        </li>
                        <li class="active">
                            <span>My Projects</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Your Projects
                </h2>
                <small>This page shows your projects and projects you like.</small>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="row">

            <div class="col-md-6">

                <div class="font-bold m-b-sm">
                    Projects created by you
                </div>
                <div class="hpanel">
                  <div class="panel-body">
                    <!--projects-->
                    <div class="hpanel">
                      <div class="panel-body">
                        <div class="pull-right">
                          <button class="btn btn-success btn-xs">  Active</button>
                          <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                        </div>
                        <!--project1-->
                          <h2 class="m-t-none">Your Project2 </h2>
                          <small>
                              A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                              spring which I enjoy with my whole heart.
                              I am alone, and feel the charm of existence in this spot, which was created for the bliss of
                              souls like mine.
                          </small>
                          <div class="small m-t-xs">
                              <strong>Create by:</strong> Anthony Novic<br/>
                              <strong>Client:</strong> Nordic Company Walking
                          </div>



                          <div class="m-t-md">
                              <canvas id="lineOptions" height="60"></canvas>
                          </div>
                      </div>
                  </div>

                    <div class="hpanel">
                      <div class="panel-body">
                        <div class="pull-right">
                          <button class="btn btn-success btn-xs">  Active</button>
                          <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                        </div>
                        <!--project1-->
                        <h2 class="m-t-none">Your Project2 </h2>
                        <small>
                          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                          spring which I enjoy with my whole heart.
                          I am alone, and feel the charm of existence in this spot, which was created for the bliss of
                          souls like mine.
                        </small>
                        <div class="small m-t-xs">
                          <strong>Create by:</strong> Anthony Novic<br/>
                          <strong>Client:</strong> Nordic Company Walking
                        </div>



                        <div class="m-t-md">
                          <canvas id="lineOptions" height="60"></canvas>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>









          <div class="col-md-6">

            <div class="font-bold m-b-sm">
              Liked Projects
            </div>
            <div class="hpanel">
              <div class="panel-body">
                <!--projects-->
                <div class="hpanel">
                  <div class="panel-body">
                    <div class="pull-right">
                      <button class="btn btn-success btn-xs">  Active</button>
                      <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                    </div>
                    <!--project1-->
                    <h2 class="m-t-none">Liked Project1 </h2>
                    <small>
                      A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                      spring which I enjoy with my whole heart.
                      I am alone, and feel the charm of existence in this spot, which was created for the bliss of
                      souls like mine.
                    </small>
                    <div class="small m-t-xs">
                      <strong>Create by:</strong> Anthony Novic<br/>
                      <strong>Client:</strong> Nordic Company Walking
                    </div>



                    <div class="m-t-md">
                      <canvas id="lineOptions" height="60"></canvas>
                    </div>
                  </div>
                </div>

                <div class="hpanel">
                  <div class="panel-body">
                    <div class="pull-right">
                      <button class="btn btn-success btn-xs">  Active</button>
                      <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                    </div>
                    <!--project1-->
                    <h2 class="m-t-none">Liked Project 2 </h2>
                    <small>
                      A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                      spring which I enjoy with my whole heart.
                      I am alone, and feel the charm of existence in this spot, which was created for the bliss of
                      souls like mine.
                    </small>
                    <div class="small m-t-xs">
                      <strong>Create by:</strong> Anthony Novic<br/>
                      <strong>Client:</strong> Nordic Company Walking
                    </div>



                    <div class="m-t-md">
                      <canvas id="lineOptions" height="60"></canvas>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
    </div>
</div>





